<header
  [ngClass]="{
    'bg-primaryDarker/60 backdrop-blur-sm outline outline-2 outline-secondaryDarker outline-offset-[-2px] shadow-md':
      isScrolled(),
    'bg-primaryDarker': !isScrolled()
  }"
  class="fixed top-2 left-1/2 transform -translate-x-1/2 z-50 flex items-center justify-center w-auto px-0 py-1.5 rounded-full outline-none transition-all duration-300"
>
  <nav class="flex px-3 items-center justify-center text-sm font-medium rounded-full text-softGray">
    <a
      href="#hero-section"
      class="relative block px-2 py-2 whitespace-nowrap transition hover:text-primary"
      >Inicio</a
    >

    <a
      href="#timeline-section"
      class="relative block px-2 py-2 whitespace-nowrap transition hover:text-primary"
      >Experiencia</a
    >
    <a
      href="#projects-section"
      class="relative block px-2 py-2 whitespace-nowrap transition hover:text-primary"
      >Projectos</a
    >
    <a
      href="#about-section"
      class="relative block px-2 py-2 whitespace-nowrap transition hover:text-primary"
      >Sobre mí</a
    >
    <!-- Botón dark mode envuelto en un div -->
    <div class="relative ml-1 mr-1">
      <button
        id="theme-toggle-btn"
        (click)="toggleTheme()"
        class="block px-2 py-2 transition hover:text-primary"
      >
        <span *ngIf="theme === 'light'">☀️</span>
        <span *ngIf="theme === 'dark'">🌙</span>
      </button>
    </div>
  </nav>
</header>
