<header
  [ngClass]="{
    'bg-navyBlue/60 backdrop-blur-sm ring-4 ring-yellow-500 ring-offset-navyBlue shadow-md':
      isScrolled(),
    'bg-navyBlue border-transparent': !isScrolled()
  }"
  class="fixed top-2 left-1/2 transform -translate-x-1/2 z-50 flex items-center justify-center w-auto px-0 py-1.5 rounded-full border transition-all duration-300"
>
  <nav class="flex px-3 items-center justify-center text-sm font-medium rounded-full text-softGray">
    <a
      href="#inicio"
      class="relative block px-2 py-2 whitespace-nowrap transition hover:text-navyBlueSoft"
      >Inicio</a
    >
    <a
      href="#sobre-mi"
      class="relative block px-2 py-2 whitespace-nowrap transition hover:text-navyBlueSoft"
      >Sobre mí</a
    >
    <a
      href="#proyectos"
      class="relative block px-2 py-2 whitespace-nowrap transition hover:text-navyBlueSoft"
      >Proyectos</a
    >
    <a
      href="#contacto"
      class="relative block px-2 py-2 whitespace-nowrap transition hover:text-navyBlueSoft"
      >Contacto</a
    >

    <!-- Botón dark mode envuelto en un div -->
    <div class="relative ml-1 mr-1">
      <button
        id="theme-toggle-btn"
        (click)="toggleTheme()"
        class="block px-2 py-2 transition hover:text-navyBlueSoft"
      >
        <span *ngIf="theme === 'light'">☀️</span>
        <span *ngIf="theme === 'dark'">🌙</span>
      </button>
    </div>
  </nav>
</header>
