<div class="mb-16 relative pl-16 md:pl-0 group">
  <!-- Punto -->
  <div
    class="absolute top-8 left-4 md:left-1/2 md:-translate-x-1/2 w-3 h-3 bg-secondary rounded-full ring-4 ring-secondary/20 z-10 pointer-events-none transition-all duration-300"
    aria-hidden="true"
  ></div>

  <div class="flex flex-col md:flex-row items-start justify-between">
    @if (position === 'left') {
    <!-- Lado izquierdo -->
    <div class="relative w-full md:w-[45%]">
      <div
        class="relative bg-primaryDarker/80 backdrop-blur-lg p-6 md:p-8 rounded-2xl border border-accent/40 text-left shadow-[0_4px_12px_rgba(251,146,60,0.25)] z-10 transition-all duration-300 hover:-translate-y-1 hover:shadow-[0_8px_24px_rgba(251,146,60,0.35)]"
      >
        <div class="flex items-center gap-4 mb-4 justify-start">
          <span class="text-primary text-sm font-medium bg-primary/20 px-3 py-1 rounded-full">
            {{ data.date }}
          </span>
        </div>

        <h3 class="text-xl md:text-2xl font-semibold text-textPrimary mb-2">
          {{ data.role }}
        </h3>

        <p class="text-primary font-medium mb-4">{{ data.company }}</p>

        <p class="text-textPrimary/80 mb-4">
          {{ data.description }}
        </p>

        <div class="flex flex-wrap gap-2 justify-start">
          @for (tag of data.tags; track tag) {
          <span class="bg-secondary/20 text-secondary px-3 py-1 rounded-full text-sm">
            {{ tag }}
          </span>
          }
        </div>
      </div>
    </div>
    <div class="hidden md:block w-[45%]"></div>
    } @else {
    <!-- Lado derecho -->
    <div class="hidden md:block w-[45%]"></div>
    <div class="relative w-full md:w-[45%]">
      <div
        class="relative bg-primaryDarker/80 backdrop-blur-lg p-6 md:p-8 rounded-2xl border border-accent/40 text-left shadow-[0_4px_12px_rgba(251,146,60,0.25)] z-10 transition-all duration-300 hover:-translate-y-1 hover:shadow-[0_8px_24px_rgba(251,146,60,0.35)]"
      >
        <div class="flex items-center gap-4 mb-4 justify-start">
          <span class="text-primary text-sm font-medium bg-primary/20 px-3 py-1 rounded-full">
            {{ data.date }}
          </span>
        </div>

        <h3 class="text-xl md:text-2xl font-semibold text-textPrimary mb-2">
          {{ data.role }}
        </h3>

        <p class="text-primary font-medium mb-4">{{ data.company }}</p>

        <p class="text-textPrimary/80 mb-4">
          {{ data.description }}
        </p>

        <div class="flex flex-wrap gap-2 justify-start">
          @for (tag of data.tags; track tag) {
          <span class="bg-secondary/20 text-secondary px-3 py-1 rounded-full text-sm">
            {{ tag }}
          </span>
          }
        </div>
      </div>
    </div>
    }
  </div>
</div>
