.shine-card {
  position: relative;
  overflow: hidden;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: -75%;
    width: 50%;
    height: 100%;
    background: linear-gradient(
      120deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.6) 50%,
      rgba(255, 255, 255, 0) 100%
    );
    transform: skewX(-20deg);
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  &.animate::before {
    animation: shine 3s;
    animation-delay: 1s;
    opacity: 1;
  }
}

@keyframes shine {
  0% {
    left: -75%;
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  60% {
    left: 125%;
    opacity: 1;
  }
  70% {
    opacity: 0;
  }
  100% {
    left: 125%;
    opacity: 0;
  }
}
